<!-- Page Content -->
<div class="container">
    <br />
    <div class="row justify-content-center">
        <div class="col-lg-4"></div>
        <div class="col-lg-1 text-center">
            <span class="badge badge-primary">Org 1</span>
        </div>
        <div class="col-lg-1 text-center">
            <span class="badge badge-success">Org 2</span>
        </div>
        <div class="col-lg-1 text-center">
            <span class="badge badge-danger">Org 3</span>
        </div>
        <div class="col-lg-1 text-center">
            <span class="badge badge-warning">Org 4</span>
        </div>
        <div class="col-lg-4"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">From peer</th>
                        <th scope="col">Name</th>
                        <th scope="col">Tx ID</th>
                        <th scope="col">Block Num</th>
                        <th scope="col">Status</th>
                        <th scope="col">Payload</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let event of events; let i= index ">
                        <th scope="row">{{i+1}}</th>
                        <td>{{event.peer}}.{{event.org}}</td>
                        <td>{{event.event_name}}</td>
                        <td>{{event.tx_id}}</td>
                        <td>{{event.block_num}}</td>
                        <td>{{event.status}}</td>
                        <td>
                            <div ngbDropdown class="d-inline-block">
                                <button class="btn btn-outline-warning" id="dropdownBasic1" ngbDropdownToggle>Show Payload</button>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu dropdown-menu-right">
                                    <button ngbDropdownItem>{{JSON.parse(event.payload)[byOrg]}}</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>